@import '_normalize';
@import '_errors';

$body-color: #000;

html,body{
  height: 100%;
}

.main-container{
  height: 100%;
}

body {
  color: $body-color;
  font-family: sans-serif;
}

*::shadow *::shadow button {
  display: inline-block;
  box-sizing: border-box;
  padding: 18px;
  border: none;
  border-radius: 10px;
}
